<ion-view>
    <ion-content class="padding">
      <h3>Bem vindo ao Feeder Reader!</h3>
      <p>O Feed Reader é um aplicativo de armazenamento de endereços de feeds RSS que exibe postagens 
        completas ou resumos de blogs usando os registros capturados. </p>
      <p>Em outras palavras, é um agregador de conteúdo RSS para simplificar a sua leitura de blogs 
        e textos na internet!</p>
      <button class="button button-block button-positive bottom" ng-click="navigateToFeed()">
        <b>ABRA SEU FEED</b>
      </button>
    </ion-content>
</ion-view>
  